# Variables & Data Types

## 1. Variables

A variable is a name that stores a value in memory.

Think of a variable like a labeled box. The label is the variable name, and the value inside the box is the data.

Python rules:

- No type declaration needed
- Created when first assigned
- Case-sensitive (`age` != `Age`)

In [ ]:
x = 10
name = "Alice"
price = 9.99
is_valid = True

## 2. Basic Data Types

A data type is the kind of value you are storing. Think of it like putting a tag on each value so Python knows how to handle it.

| Type | Example | Description |
| --- | --- | --- |
| `int` | `10`, `-5` | Whole numbers |
| `float` | `3.14`, `-0.1` | Decimal numbers |
| `str` | `"hello"` | Text |
| `bool` | `True` / `False` | Logical values |

Check type:

In [ ]:
x = 5
print(type(x))  # <class 'int'>

## 3. Type Conversion (Casting)

Type conversion means changing one data type into another.

It is like pouring water from one container into another shape. The value can stay similar, but the type changes.

In [ ]:
int("10")      # 10
float("3.5")   # 3.5
str(25)        # "25"
bool(0)        # False

Important truthiness:

In [ ]:
bool(0)        # False
bool("")       # False
bool(None)     # False
bool(5)        # True
bool("hi")     # True

## 4. Dynamic Typing (Deep Understanding)

In Python, the variable name does not lock a type. The value has the type.

Think of a variable as a name tag. You can move the same tag from one box to another. The tag is the same, but the box content can change.

In [ ]:
x = 5        # x refers to int object
x = "hello"  # now x refers to string object

## 5. `type()` and `id()` Functions

- `type(value)` tells you the data type of a value or object.
- `id(value)` returns the unique identity of that object during program execution.

Use `type()` to understand what kind of data you are working with, and use `id()` when you want to check whether two variables point to the same object in memory.

In [ ]:
a = 10
b = a
c = 10.0

print(type(a))  # <class "int">
print(type(c))  # <class "float">

print(id(a))
print(id(b))
print(a is b)   # True, both names refer to the same object

## 6. Common Beginner Errors

A common mistake is mixing incompatible types.

Wrong:

In [ ]:
"5" + 3  # TypeError

Fix:

In [ ]:
int("5") + 3

## Examples (Study Carefully)

These examples show how the same rules work in real code.

### Example 1 - Basic usage

In [ ]:
age = 20
print(age, type(age))

### Example 2 - Float math

In [ ]:
x = 5
y = 2
print(x / y)   # 2.5 (float)

### Example 3 - String behavior

In [ ]:
a = "5"
b = "2"
print(a + b)   # "52"

### Example 4 - Boolean logic

In [ ]:
x = 10
print(x > 5)   # True

### Example 5 - Conversion

In [ ]:
num = "100"
num = int(num)
print(num + 50)  # 150